[manifest]
version = "1.0.0"
dump_lua = true
priority = 9999999

# This file is where things get injected into core game luas,
# primarily to intercept certain functionalities and implement
# hooks we can use in order to facilitate our own.
# This is useful for stubborn graphics changes such as finicky
# title screen stuff, potential challenges & additional Joker
# functionality.

# These two are intended to help facilitate title screen
# replacements - Primarily replacing the Ace that appears at 
# the start with the Blueprint joker (If the setting is enabled)
# This is directly lifted from Cardsauce and will likely result in incompatibility with it.
[[patches]]
[patches.pattern]
target = "game.lua"
pattern = "local replace_card = Card(self.title_top.T.x, self.title_top.T.y, 1.2*G.CARD_W*SC_scale, 1.2*G.CARD_H*SC_scale, G.P_CARDS.S_A, G.P_CENTERS.c_base)"
position = "at"
payload = '''
local replace_card = G.FUNCS.title_screen_card(self, SC_scale)

if CirnoMod then
	CirnoMod.titleCard = replace_card
	CirnoMod.titleTop = self.title_top
end
'''
match_indent = true
overwrite = false

[[patches]]
[patches.pattern]
target = "game.lua"
pattern = "SC = Card(G.ROOM.T.w/2 - SC_scale*G.CARD_W/2, 10. + G.ROOM.T.h/2 - SC_scale*G.CARD_H/2, SC_scale*G.CARD_W, SC_scale*G.CARD_H, G.P_CARDS.empty, G.P_CENTERS['j_joker'])"
position = "at"
payload = "SC = G.FUNCS.center_splash_screen_card(SC_scale)"
match_indent = true

# This is necessary for changing the vortex colours on the start screen.
# Not exactly the same code, but it is somewhat directly lifted from
# Trance, and will likely be incompatible with it as a result.
[[patches]]
[patches.pattern]
target = "game.lua"
pattern = "{name = 'colour_1', ref_table = G.C, ref_value = 'RED'},"
position = "at"
payload = "{name = 'colour_1', ref_table = G.C.SPLASH, ref_value = 1},"
match_indent = true

[[patches]]
[patches.pattern]
target = "game.lua"
pattern = "{name = 'colour_2', ref_table = G.C, ref_value = 'BLUE'},"
position = "at"
payload = "{name = 'colour_2', ref_table = G.C.SPLASH, ref_value = 2},"
match_indent = true

# Gives the title screen card a 1 in 4 chance to be polychrome.
[[patches]]
[patches.pattern]
target = "game.lua"
pattern = "replace_card.ambient_tilt = 0.0"
position = "after"
payload = '''

if
	CirnoMod
	and CirnoMod.config.titleLogo
	and pseudorandom('titlePoly', 1, 4) < 2
then
	replace_card:set_edition('e_polychrome', true, true)
end

'''
match_indent = true
overwrite = false
times = 1

# If the title screen card was polychrome, remove it when
# cycling to the first item
[[patches]]
[patches.pattern]
target = "game.lua"
pattern = "replace_card:start_dissolve({G.C.BLACK, G.C.ORANGE, G.C.RED, G.C.GOLD})"
position = "after"
payload = '''

if replace_card.edition then
	replace_card:set_edition(nil, true, true)
end

'''
match_indent = true
overwrite = false
times = 1

# Adjusts the logic that cycles through cards in the main
# menu screen to allow it to cycle for as long as the game
# stays on the main menu, and will additionally include
# every face card - This basically 
[[patches]]
[patches.pattern]
target = "game.lua"
pattern = "self.title_top:emplace(card)"
position = "after"
payload = '''

if CirnoMod then
	CirnoMod.miscItems.doTitleCardCycle(viable_unlockables, card, SC_scale)
end

'''
match_indent = true
overwrite = false
times = 1

# Allows cycling to happen if there is nothing to unlock.
[[patches]]
[patches.pattern]
target = "game.lua"
pattern = "if #viable_unlockables > 0 then"
position = "at"
payload = '''if #viable_unlockables == 0 then
	CirnoMod.miscItems.doTitleCardCycle(viable_unlockables, replace_card, SC_scale)
else'''
match_indent = true
times = 1

# Deleting profile also resets encountered Jokers.
# Have to patch it instead of hooking because it
# seems there's a fork inside the function that
# looks like it might branch to not deleting
# the profile.
[[patches]]
[patches.pattern]
target = "button_callbacks.lua"
pattern = "G.PROFILES[G.focused_profile] = {}"
position = "after"
payload = '''
	if CirnoMod and CirnoMod.config.encounteredJokers[G.focused_profile] then
		CirnoMod.config.encounteredJokers[G.focused_profile] = {}
	end
'''
match_indent = true
overwrite = false
times = 1

# Creates a variable that is set to true whenever a wheel of fortune is used, intended to be used with the NopeTooFast legendary.
# This is lifted from Cryptid, but should still be compatible as it does not directly interfere with anything.
[[patches]]
[patches.pattern]
target = "card.lua"
pattern = "if self.ability.name == 'Ectoplasm' or self.ability.name == 'Hex' or pseudorandom('wheel_of_fortune') < G.GAME.probabilities.normal/self.ability.extra then"
position = "after"
payload = '''
self.cirNtf_wheel_success = false
if self.ability.name == 'The Wheel of Fortune' then self.cirNtf_wheel_success = true end
'''
match_indent = false

# Adjusts dollar calculation at the end of round to account for the presence of red seals.
[[patches]]
[patches.pattern]
target = "functions/state_events.lua"
pattern = '''
i = i+1
add_round_eval_row({dollars = ret, bonus = true, name='joker'..i, pitch = pitch, card = _card})
pitch = pitch + 0.06
dollars = dollars + ret
'''
position = "at"
payload = '''
				if CirnoMod then
					cModDolCalc = CirnoMod.miscItems.roundEvalDollarCalc.full(ret, dollars, pitch, _card, i)
					i = cModDolCalc.i
					dollars = cModDolCalc.dollars
					-- Patched by Cirno_TV & Friends Mod
				end
'''
times = 1
match_indent = false

# Fixes generate_card_ui() 
# Credit to Breezebuilder for figuring this out
# Will likely be removed if it ever gets included
# in a Steamodded build.
[[patches]]
[patches.pattern]
target = "functions/common_events.lua"
pattern = '''
elseif specific_vars and (card_type == 'Default' or card_type == 'Enhanced') then
    if _c.name == 'Stone Card' or _c.replace_base_card then full_UI_table.name = true
'''
position = "at"
payload = '''
elseif specific_vars and (card_type == 'Enhanced') then
    full_UI_table.name = true
elseif specific_vars and (card_type == 'Default') then
    if _c.replace_base_card then full_UI_table.name = true
'''
times = 1
match_indent = true

# Captures when a card UI tooltip is being generated
# and checks to see if it should add the credit
# tooltip based on the item's key.
[[patches]]
[patches.pattern]
target = "functions/common_events.lua"
pattern = "for _, v in ipairs(info_queue) do"
position = "before"
payload = '''

	if
		card_type ~= 'Locked'
		and card_type ~= 'Undiscovered'
		and CirnoMod
		and CirnoMod.config.artCredits
	then
		local PVC_RV = CirnoMod.ParseVanillaCredit(_c, specific_vars)
		
		if PVC_RV then
			local ACEC = nil
			
			if
				CirnoMod.miscItems.weirdArtCreditExceptionalCircumstanceKeys[_c.key]
			then
				ACEC = CirnoMod.miscItems.weirdArtCreditExceptionalCircumstanceKeys[_c.key](_c, loc_vars, specific_vars, info_queue, card_type, badges, main_start, main_end)
			end
			
			if
				not ACEC
				or ACEC and ACEC.doNotInfoQueue
			then
				info_queue[#info_queue + 1] = PVC_RV
			end
		end
	end
	
'''
times = 1
match_indent = false

# Makes a bunch of the normally red buttons blue!
[[patches]]
[patches.pattern]
target = "functions/UI_definitions.lua"
pattern = "args.colour = args.colour or G.C.RED"
position = "at"
payload = "args.colour = args.colour or (G.C.SECONDARY_SET.UIDefault or G.C.RED)"
match_indent = false

[[patches]]
[patches.pattern]
target = "functions/UI_definitions.lua"
pattern = '''create_option_cycle({options = joker_options, w = 4.5, cycle_shoulders = true, opt_callback = 'your_collection_joker_page', current_option = 1, colour = G.C.RED, no_pips = true, focus_args = {snap_to = true, nav = 'wide'}})'''
position = "at"
payload = '''
create_option_cycle({options = joker_options, w = 4.5, cycle_shoulders = true, opt_callback = 'your_collection_joker_page', current_option = 1, colour = G.C.SECONDARY_SET.UIDefault or G.C.RED, no_pips = true, focus_args = {snap_to = true, nav = 'wide'}})
'''
times = 1
match_indent = false

[[patches]]
[patches.pattern]
target = "functions/UI_definitions.lua"
pattern = '''create_option_cycle({options = tarot_options, w = 4.5, cycle_shoulders = true, opt_callback = 'your_collection_tarot_page', focus_args = {snap_to = true, nav = 'wide'},current_option = 1, colour = G.C.RED, no_pips = true})'''
position = "at"
payload = '''
create_option_cycle({options = tarot_options, w = 4.5, cycle_shoulders = true, opt_callback = 'your_collection_tarot_page', focus_args = {snap_to = true, nav = 'wide'},current_option = 1, G.C.SECONDARY_SET.UIDefault or G.C.RED, no_pips = true})
'''
times = 1
match_indent = false

[[patches]]
[patches.pattern]
target = "functions/UI_definitions.lua"
pattern = '''create_option_cycle({options = booster_options, w = 4.5, cycle_shoulders = true, opt_callback = 'your_collection_booster_page', focus_args = {snap_to = true, nav = 'wide'},current_option = 1, colour = G.C.RED, no_pips = true})'''
position = "at"
payload = '''
create_option_cycle({options = booster_options, w = 4.5, cycle_shoulders = true, opt_callback = 'your_collection_booster_page', focus_args = {snap_to = true, nav = 'wide'},current_option = 1, colour = G.C.SECONDARY_SET.UIDefault or G.C.RED, no_pips = true})
'''
times = 1
match_indent = false

[[patches]]
[patches.pattern]
target = "functions/UI_definitions.lua"
pattern = '''create_option_cycle({options = spectral_options, w = 4.5, cycle_shoulders = true, opt_callback = 'your_collection_spectral_page', focus_args = {snap_to = true, nav = 'wide'},current_option = 1, colour = G.C.RED, no_pips = true})'''
position = "at"
payload = '''
create_option_cycle({options = spectral_options, w = 4.5, cycle_shoulders = true, opt_callback = 'your_collection_spectral_page', focus_args = {snap_to = true, nav = 'wide'},current_option = 1, colour = G.C.SECONDARY_SET.UIDefault or G.C.RED, no_pips = true})
'''
times = 1
match_indent = false

[[patches]]
[patches.pattern]
target = "functions/UI_definitions.lua"
pattern = '''create_option_cycle({options = voucher_options, w = 4.5, cycle_shoulders = true, opt_callback = 'your_collection_voucher_page', focus_args = {snap_to = true, nav = 'wide'}, current_option = 1, colour = G.C.RED, no_pips = true})'''
position = "at"
payload = '''
create_option_cycle({options = voucher_options, w = 4.5, cycle_shoulders = true, opt_callback = 'your_collection_voucher_page', focus_args = {snap_to = true, nav = 'wide'}, current_option = 1, G.C.SECONDARY_SET.UIDefault or G.C.RED, no_pips = true})
'''
times = 1
match_indent = false

[[patches]]
[patches.pattern]
target = "functions/UI_definitions.lua"
pattern = '''create_option_cycle({options = ordered_names, opt_callback = 'change_viewed_back', current_option = 1, colour = G.C.RED, w = 4.5, focus_args = {snap_to = true}, mid = '''
position = "at"
payload = '''
create_option_cycle({options = ordered_names, opt_callback = 'change_viewed_back', current_option = 1, colour = G.C.SECONDARY_SET.UIDefault or G.C.RED, w = 4.5, focus_args = {snap_to = true}, mid = 
'''
times = 1
match_indent = false

[[patches]]
[patches.pattern]
target = "functions/UI_definitions.lua"
pattern = '''{n=G.UIT.O, config={object = DynaText({string = {localize('k_unlocked_ex')}, colours = {G.C.RED},shadow = true, rotate = true, bump = true, pop_in = 0.6, pop_in_rate = 2, scale = 0.8})}}'''
position = "at"
payload = '''
{n=G.UIT.O, config={object = DynaText({string = {localize('k_unlocked_ex')}, colours = {G.C.SECONDARY_SET.UIDefault or G.C.RED},shadow = true, rotate = true, bump = true, pop_in = 0.6, pop_in_rate = 2, scale = 0.8})}}
'''
times = 1
match_indent = false

[[patches]]
[patches.pattern]
target = "functions/UI_definitions.lua"
pattern = '''create_option_cycle({options = loc_options, w = 5.5, cycle_shoulders = true, curr_suit = _suit, opt_callback = 'change_collab', current_option = current_option, colour = G.C.RED, focus_args = {snap_to = true, nav = 'wide'}}),'''
position = "at"
payload = '''
create_option_cycle({options = loc_options, w = 5.5, cycle_shoulders = true, curr_suit = _suit, opt_callback = 'change_collab', current_option = current_option, colour = G.C.SECONDARY_SET.UIDefault or G.C.RED, focus_args = {snap_to = true, nav = 'wide'}}),
'''
times = 1
match_indent = false

[[patches]]
[patches.pattern]
target = '''=[SMODS _ "src/ui.lua"]'''
pattern = "colour = G.C.RED,"
position = "at"
payload = "colour = G.C.SECONDARY_SET.UIDefault or G.C.RED,"
match_indent = false

[[patches]]
[patches.pattern]
target = '''=[SMODS _ "src/ui.lua"]'''
pattern = "args.colour = args.colour or G.C.RED"
position = "at"
payload = "args.colour = args.colour or (G.C.SECONDARY_SET.UIDefault or G.C.RED)"
match_indent = false

[[patches]]
[patches.pattern]
target = '''=[SMODS _ "src/ui.lua"]'''
pattern = '''create_option_cycle({options = options, w = 4.5, cycle_shoulders = true, opt_callback = 'SMODS_card_collection_page', current_option = 1, colour = G.C.RED, no_pips = true, focus_args = {snap_to = true, nav = 'wide'}})'''
position = "at"
payload = '''create_option_cycle({options = options, w = 4.5, cycle_shoulders = true, opt_callback = 'SMODS_card_collection_page', current_option = 1, colour = G.C.SECONDARY_SET.UIDefault or G.C.RED, no_pips = true, focus_args = {snap_to = true, nav = 'wide'}})'''
match_indent = false

# Makes the extra tooltip thingies work
[[patches]]
[patches.pattern]
target = "functions/common_events.lua"
pattern = """   end

    if main_end then 
        desc_nodes[#desc_nodes+1] = main_end 
    end"""
position = "before"
payload = '''
	elseif _c.set == 'extendedDescTooltip' then
		localize{type = 'descriptions', key = _c.key, set = _c.set, nodes = desc_nodes}
'''
times = 1
match_indent = true