[manifest]
version = "1.0.0"
dump_lua = true
priority = 9999999

# This file is where things get injected into core game luas,
# primarily to intercept certain functionalities and implement
# hooks we can use in order to facilitate our own.
# This is useful for stubborn graphics changes such as finicky
# title screen stuff, potential challenges & additional Joker
# functionality.

# These three are intended to help facilitate title screen
# replacements - Primarily replacing the Ace that appears at 
# the start with the Blueprint joker (If the setting is enabled)
# This is directly lifted from Cardsauce and will likely result in incompatibility with it.
[[patches]]
[patches.pattern]
target = "game.lua"
pattern = "local replace_card = Card(self.title_top.T.x, self.title_top.T.y, 1.2*G.CARD_W*SC_scale, 1.2*G.CARD_H*SC_scale, G.P_CARDS.S_A, G.P_CENTERS.c_base)"
position = "at"
payload = '''
local replace_card = G.FUNCS.title_screen_card(self, SC_scale)
'''
match_indent = true
overwrite = false

[[patches]]
[patches.pattern]
target = "game.lua"
pattern = "SC = Card(G.ROOM.T.w/2 - SC_scale*G.CARD_W/2, 10. + G.ROOM.T.h/2 - SC_scale*G.CARD_H/2, SC_scale*G.CARD_W, SC_scale*G.CARD_H, G.P_CARDS.empty, G.P_CENTERS['j_joker'])"
position = "at"
payload = "SC = G.FUNCS.center_splash_screen_card(SC_scale)"
match_indent = true

# Disabled for now as it appears to have no effect according to the lovely patcher
# [[patches]]
# [patches.pattern]
# target = "game.lua"
# pattern = '''
#                 local card = Card(card_pos.x + G.ROOM.T.w/2 - G.CARD_W*card_size/2,
#                                   card_pos.y + G.ROOM.T.h/2 - G.CARD_H*card_size/2,
#                                   card_size*G.CARD_W, card_size*G.CARD_H, pseudorandom_element(G.P_CARDS), G.P_CENTERS.c_base)
# '''
# position = "at"
# payload = '''
# local card = G.FUNCS.splash_screen_card(card_pos, card_size)
# '''
# match_indent = true

# This is necessary for changing the vortex colours on the start screen.
# As with above, lifted from Cardsauce, likely will be incompatible with it.
#	[[patches]]
#	[patches.pattern]
#	target = "game.lua"
#	pattern = '''
#	G.SPLASH_BACK:define_draw_steps({{
#	    shader = 'splash',
#	    send = {
#	        {name = 'time', ref_table = G.TIMERS, ref_value = 'REAL'},
#	        {name = 'vort_speed', val = 1},
#	        {name = 'colour_1', ref_table = G.C, ref_value = 'COLOUR1'},
#	        {name = 'colour_2', ref_table = G.C, ref_value = 'WHITE'},
#	        {name = 'mid_flash', val = 0},
#	        {name = 'vort_offset', val = (2*90.15315131*os.time())%100000},
#	    }}})
#	'''
#	position = "at"
#	payload = '''
#	if CirnoMod.allEnabledOptions['titleColours'] then
#	    G.SPLASH_BACK:define_draw_steps({{
#	        shader = 'splash',
#	        send = {
#	            {name = 'time', ref_table = G.TIMERS, ref_value = 'REAL'},
#	            {name = 'vort_speed', val = 1},
#	            {name = 'colour_1', ref_table = G.C, ref_value = 'COLOUR1'},
#	            {name = 'colour_2', ref_table = G.C, ref_value = 'WHITE'},
#	            {name = 'mid_flash', val = 0},
#	            {name = 'vort_offset', val = (2*90.15315131*os.time())%100000},
#	        }}})
#	else
#	    G.SPLASH_BACK:define_draw_steps({{
#	        shader = 'splash',
#	        send = {
#	            {name = 'time', ref_table = G.TIMERS, ref_value = 'REAL'},
#	            {name = 'vort_speed', val = 1},
#	            {name = 'colour_1', ref_table = G.C, ref_value = 'COLOUR1'},
#	            {name = 'colour_2', ref_table = G.C, ref_value = 'WHITE'},
#	            {name = 'mid_flash', val = 0},
#	            {name = 'vort_offset', val = (2*90.15315131*os.time())%100000},
#	        }}})
#	end
#	'''
#	match_indent = true

# Creates a variable that is set to true whenever a wheel of fortune is used, intended to be used with the NopeTooFast legendary.
# This is lifted from Cryptid, but should still be compatible as it does not directly interfere with anything.
[[patches]]
[patches.pattern]
target = "card.lua"
pattern = "if self.ability.name == 'Ectoplasm' or self.ability.name == 'Hex' or pseudorandom('wheel_of_fortune') < G.GAME.probabilities.normal/self.ability.extra then"
position = "after"
payload = '''
self.cirNtf_wheel_success = false
if self.ability.name == 'The Wheel of Fortune' then self.cirNtf_wheel_success = true end
'''
match_indent = false

# Captures when a card UI tooltip is being generated and checks to see if it should add
# the credit tooltip based on the card's key.
[[patches]]
[patches.pattern]
target = "functions/common_events.lua"
pattern = "for _, v in ipairs(info_queue) do"
position = "before"
payload = '''
if CirnoMod then
	if
		CirnoMod.allEnabledOptions['artCredits']
		and CirnoMod.miscItems.artCreditKeys[_c.key]
	then
		info_queue[#info_queue + 1] = CirnoMod.ParseVanillaCredit(_c.key)
	end
end
'''
match_indent = false

# Adds some hooks to be used for things like challenges.
# Yes, I realise these are not what hooks are and hooks
# are a very specific thing in Lua - But you get what I
# mean, these just inject into the relevant areas so we
# can capture certain important things
[[patches]]
[patches.pattern]
target = "game.lua"
pattern = "function Game:start_run(args)"
position = "after"
payload = '''
	if CirnoMod.CirnoHooks then
		G.E_MANAGER:add_event(Event({
                trigger = 'after',
				delay = 0.2,
                blocking = false,
                func = function()
					CirnoMod.CirnoHooks.onRunStart(args)
					return true
				end
            }))
	end
'''
match_indent = false

[[patches]]
[patches.pattern]
target = "functions/common_events.lua"
pattern = "function eval_card(card, context)"
position = "after"
payload = '''
	if CirnoMod.CirnoHooks then
		G.E_MANAGER:add_event(Event({
                trigger = 'after',
				delay = 0.3,
                blocking = false,
                func = function()
					CirnoMod.CirnoHooks.evalCardHook(card, context)
					return true
				end
            }))
	end
'''
match_indent = false

[[patches]]
[patches.pattern]
target = "functions/common_events.lua"
pattern = "function add_joker(joker, edition, silent, eternal)"
position = "after"
payload = '''
	if CirnoMod.CirnoHooks then
		G.E_MANAGER:add_event(Event({
                trigger = 'after',
				delay = 0.3,
                blocking = false,
                func = function()
					CirnoMod.CirnoHooks.onNewJoker(joker, edition, silent, eternal)
					return true
				end
            }))
	end
'''
match_indent = false

[[patches]]
[patches.pattern]
target = "functions/state_events.lua"
pattern = "delay(0.4)"
position = "before"
payload = '''
	if CirnoMod.CirnoHooks then
		G.E_MANAGER:add_event(Event({
                trigger = 'after',
				delay = 0.3,
                blocking = false,
                func = function()
					CirnoMod.CirnoHooks.onBlindStart()
					return true
				end
            }))
		
	end
'''
match_indent = false

[[patches]]
[patches.pattern]
target = "functions/state_events.lua"
pattern = "function end_round()"
position = "after"
payload = '''
	if CirnoMod.CirnoHooks then
		G.E_MANAGER:add_event(Event({
                trigger = 'after',
				delay = 0.1,
                blocking = false,
                func = function()
					CirnoMod.CirnoHooks.onBlindDefeat()
					return true
				end
            }))
	end
'''
match_indent = false