[manifest]
version = "1.0.0"
dump_lua = true
priority = 9999999

# This file is where things get injected into core game luas,
# primarily to intercept certain functionalities and implement
# hooks we can use in order to facilitate our own.
# This is useful for stubborn graphics changes such as finicky
# title screen stuff, potential challenges & additional Joker
# functionality.

# These two are intended to help facilitate title screen
# replacements - Primarily replacing the Ace that appears at 
# the start with the Blueprint joker (If the setting is enabled)
# This is directly lifted from Cardsauce and will likely result in incompatibility with it.
[[patches]]
[patches.pattern]
target = "game.lua"
pattern = "local replace_card = Card(self.title_top.T.x, self.title_top.T.y, 1.2*G.CARD_W*SC_scale, 1.2*G.CARD_H*SC_scale, G.P_CARDS.S_A, G.P_CENTERS.c_base)"
position = "at"
payload = '''
local replace_card = G.FUNCS.title_screen_card(self, SC_scale)
'''
match_indent = true
overwrite = false

[[patches]]
[patches.pattern]
target = "game.lua"
pattern = "SC = Card(G.ROOM.T.w/2 - SC_scale*G.CARD_W/2, 10. + G.ROOM.T.h/2 - SC_scale*G.CARD_H/2, SC_scale*G.CARD_W, SC_scale*G.CARD_H, G.P_CARDS.empty, G.P_CENTERS['j_joker'])"
position = "at"
payload = "SC = G.FUNCS.center_splash_screen_card(SC_scale)"
match_indent = true

# This is necessary for changing the vortex colours on the start screen.
# Not exactly the same code, but it is somewhat directly lifted from
# Trance, and will likely be incompatible with it as a result.
[[patches]]
[patches.pattern]
target = "game.lua"
pattern = "{name = 'colour_1', ref_table = G.C, ref_value = 'RED'},"
position = "at"
payload = "{name = 'colour_1', ref_table = G.C.SPLASH, ref_value = 1},"
match_indent = true

[[patches]]
[patches.pattern]
target = "game.lua"
pattern = "{name = 'colour_2', ref_table = G.C, ref_value = 'BLUE'},"
position = "at"
payload = "{name = 'colour_2', ref_table = G.C.SPLASH, ref_value = 2},"
match_indent = true

# Creates a variable that is set to true whenever a wheel of fortune is used, intended to be used with the NopeTooFast legendary.
# This is lifted from Cryptid, but should still be compatible as it does not directly interfere with anything.
[[patches]]
[patches.pattern]
target = "card.lua"
pattern = "if self.ability.name == 'Ectoplasm' or self.ability.name == 'Hex' or pseudorandom('wheel_of_fortune') < G.GAME.probabilities.normal/self.ability.extra then"
position = "after"
payload = '''
self.cirNtf_wheel_success = false
if self.ability.name == 'The Wheel of Fortune' then self.cirNtf_wheel_success = true end
'''
match_indent = false

# Adjusts dollar calculation at the end of round to account for the presence of red seals.
[[patches]]
[patches.pattern]
target = "functions/state_events.lua"
pattern = '''
i = i+1
add_round_eval_row({dollars = ret, bonus = true, name='joker'..i, pitch = pitch, card = _card})
pitch = pitch + 0.06
dollars = dollars + ret
'''
position = "at"
payload = '''
	
				if CirnoMod then
					cModDolCalc = CirnoMod.miscItems.roundEvalDollarCalc.full(ret, dollars, pitch, _card, i)
					i = cModDolCalc.i
					dollars = cModDolCalc.dollars
					-- Patched by Cirno_TV & Friends Mod
				end
'''
times = 1
match_indent = false

# Captures when a card UI tooltip is being generated and checks to see if it should add
# the credit tooltip based on the card's key.
[[patches]]
[patches.pattern]
target = "functions/common_events.lua"
pattern = "for _, v in ipairs(info_queue) do"
position = "before"
payload = '''

	if
		CirnoMod
		and card_type ~= 'Locked'
		and card_type ~= 'Undiscovered'
	then
		if
			CirnoMod.config.artCredits
		then
			local PVC_RV = CirnoMod.ParseVanillaCredit(_c, specific_vars)
			
			if PVC_RV then
				if
					CirnoMod.miscItems.weirdArtCreditExceptionalCircumstanceKeys[_c.key]
				then
					info_queue[#info_queue + 1] = CirnoMod.miscItems.weirdArtCreditExceptionalCircumstanceKeys[_c.key](_c)
				end
				
				info_queue[#info_queue + 1] = PVC_RV
			end
		end
	end
	
'''
times = 1
match_indent = false

# Makes a bunch of the normally red buttons blue!
[[patches]]
[patches.pattern]
target = "functions/UI_definitions.lua"
pattern = "args.colour = args.colour or G.C.RED"
position = "at"
payload = "args.colour = args.colour or (G.C.SECONDARY_SET.UIDefault or G.C.RED)"
match_indent = false

[[patches]]
[patches.pattern]
target = "functions/UI_definitions.lua"
pattern = '''create_option_cycle({options = joker_options, w = 4.5, cycle_shoulders = true, opt_callback = 'your_collection_joker_page', current_option = 1, colour = G.C.RED, no_pips = true, focus_args = {snap_to = true, nav = 'wide'}})'''
position = "at"
payload = '''
create_option_cycle({options = joker_options, w = 4.5, cycle_shoulders = true, opt_callback = 'your_collection_joker_page', current_option = 1, colour = G.C.SECONDARY_SET.UIDefault or G.C.RED, no_pips = true, focus_args = {snap_to = true, nav = 'wide'}})
'''
times = 1
match_indent = false

[[patches]]
[patches.pattern]
target = "functions/UI_definitions.lua"
pattern = '''create_option_cycle({options = tarot_options, w = 4.5, cycle_shoulders = true, opt_callback = 'your_collection_tarot_page', focus_args = {snap_to = true, nav = 'wide'},current_option = 1, colour = G.C.RED, no_pips = true})'''
position = "at"
payload = '''
create_option_cycle({options = tarot_options, w = 4.5, cycle_shoulders = true, opt_callback = 'your_collection_tarot_page', focus_args = {snap_to = true, nav = 'wide'},current_option = 1, G.C.SECONDARY_SET.UIDefault or G.C.RED, no_pips = true})
'''
times = 1
match_indent = false

[[patches]]
[patches.pattern]
target = "functions/UI_definitions.lua"
pattern = '''create_option_cycle({options = booster_options, w = 4.5, cycle_shoulders = true, opt_callback = 'your_collection_booster_page', focus_args = {snap_to = true, nav = 'wide'},current_option = 1, colour = G.C.RED, no_pips = true})'''
position = "at"
payload = '''
create_option_cycle({options = booster_options, w = 4.5, cycle_shoulders = true, opt_callback = 'your_collection_booster_page', focus_args = {snap_to = true, nav = 'wide'},current_option = 1, colour = G.C.SECONDARY_SET.UIDefault or G.C.RED, no_pips = true})
'''
times = 1
match_indent = false

[[patches]]
[patches.pattern]
target = "functions/UI_definitions.lua"
pattern = '''create_option_cycle({options = spectral_options, w = 4.5, cycle_shoulders = true, opt_callback = 'your_collection_spectral_page', focus_args = {snap_to = true, nav = 'wide'},current_option = 1, colour = G.C.RED, no_pips = true})'''
position = "at"
payload = '''
create_option_cycle({options = spectral_options, w = 4.5, cycle_shoulders = true, opt_callback = 'your_collection_spectral_page', focus_args = {snap_to = true, nav = 'wide'},current_option = 1, colour = G.C.SECONDARY_SET.UIDefault or G.C.RED, no_pips = true})
'''
times = 1
match_indent = false

[[patches]]
[patches.pattern]
target = "functions/UI_definitions.lua"
pattern = '''create_option_cycle({options = voucher_options, w = 4.5, cycle_shoulders = true, opt_callback = 'your_collection_voucher_page', focus_args = {snap_to = true, nav = 'wide'}, current_option = 1, colour = G.C.RED, no_pips = true})'''
position = "at"
payload = '''
create_option_cycle({options = voucher_options, w = 4.5, cycle_shoulders = true, opt_callback = 'your_collection_voucher_page', focus_args = {snap_to = true, nav = 'wide'}, current_option = 1, G.C.SECONDARY_SET.UIDefault or G.C.RED, no_pips = true})
'''
times = 1
match_indent = false

[[patches]]
[patches.pattern]
target = "functions/UI_definitions.lua"
pattern = '''create_option_cycle({options = ordered_names, opt_callback = 'change_viewed_back', current_option = 1, colour = G.C.RED, w = 4.5, focus_args = {snap_to = true}, mid = '''
position = "at"
payload = '''
create_option_cycle({options = ordered_names, opt_callback = 'change_viewed_back', current_option = 1, colour = G.C.SECONDARY_SET.UIDefault or G.C.RED, w = 4.5, focus_args = {snap_to = true}, mid = 
'''
times = 1
match_indent = false

[[patches]]
[patches.pattern]
target = "functions/UI_definitions.lua"
pattern = '''{n=G.UIT.O, config={object = DynaText({string = {localize('k_unlocked_ex')}, colours = {G.C.RED},shadow = true, rotate = true, bump = true, pop_in = 0.6, pop_in_rate = 2, scale = 0.8})}}'''
position = "at"
payload = '''
{n=G.UIT.O, config={object = DynaText({string = {localize('k_unlocked_ex')}, colours = {G.C.SECONDARY_SET.UIDefault or G.C.RED},shadow = true, rotate = true, bump = true, pop_in = 0.6, pop_in_rate = 2, scale = 0.8})}}
'''
times = 1
match_indent = false

[[patches]]
[patches.pattern]
target = "functions/UI_definitions.lua"
pattern = '''create_option_cycle({options = loc_options, w = 5.5, cycle_shoulders = true, curr_suit = _suit, opt_callback = 'change_collab', current_option = current_option, colour = G.C.RED, focus_args = {snap_to = true, nav = 'wide'}}),'''
position = "at"
payload = '''
create_option_cycle({options = loc_options, w = 5.5, cycle_shoulders = true, curr_suit = _suit, opt_callback = 'change_collab', current_option = current_option, colour = G.C.SECONDARY_SET.UIDefault or G.C.RED, focus_args = {snap_to = true, nav = 'wide'}}),
'''
times = 1
match_indent = false

[[patches]]
[patches.pattern]
target = '''=[SMODS _ "src/ui.lua"]'''
pattern = "colour = G.C.RED,"
position = "at"
payload = "colour = G.C.SECONDARY_SET.UIDefault or G.C.RED,"
match_indent = false

[[patches]]
[patches.pattern]
target = '''=[SMODS _ "src/ui.lua"]'''
pattern = "args.colour = args.colour or G.C.RED"
position = "at"
payload = "args.colour = args.colour or (G.C.SECONDARY_SET.UIDefault or G.C.RED)"
match_indent = false

[[patches]]
[patches.pattern]
target = '''=[SMODS _ "src/ui.lua"]'''
pattern = '''create_option_cycle({options = options, w = 4.5, cycle_shoulders = true, opt_callback = 'SMODS_card_collection_page', current_option = 1, colour = G.C.RED, no_pips = true, focus_args = {snap_to = true, nav = 'wide'}})'''
position = "at"
payload = '''create_option_cycle({options = options, w = 4.5, cycle_shoulders = true, opt_callback = 'SMODS_card_collection_page', current_option = 1, colour = G.C.SECONDARY_SET.UIDefault or G.C.RED, no_pips = true, focus_args = {snap_to = true, nav = 'wide'}})'''
match_indent = false

# Adds some hooks to be used for things like challenges.
# Yes, I realise these are not what hooks are and hooks
# are a very specific thing in Lua - But you get what I
# mean, these just inject into the relevant areas so we
# can capture certain important things
[[patches]]
[patches.pattern]
target = "game.lua"
pattern = "function Game:start_run(args)"
position = "after"
payload = '''
	if CirnoMod.CirnoHooks then
		G.E_MANAGER:add_event(Event({
                trigger = 'after',
				delay = 0.2,
                blocking = false,
                func = function()
					CirnoMod.CirnoHooks.onRunStart(args)
					return true
				end
            }))
	end
'''
times = 1
match_indent = false

[[patches]]
[patches.pattern]
target = "functions/common_events.lua"
pattern = "function eval_card(card, context)"
position = "after"
payload = '''
	if CirnoMod.CirnoHooks then
		G.E_MANAGER:add_event(Event({
                trigger = 'after',
				delay = 0.3,
                blocking = false,
                func = function()
					CirnoMod.CirnoHooks.evalCardHook(card, context)
					return true
				end
            }))
	end
'''
times = 1
match_indent = false

[[patches]]
[patches.pattern]
target = "functions/common_events.lua"
pattern = "function add_joker(joker, edition, silent, eternal)"
position = "after"
payload = '''
	if CirnoMod.CirnoHooks then
		G.E_MANAGER:add_event(Event({
                trigger = 'after',
				delay = 0.3,
                blocking = false,
                func = function()
					CirnoMod.CirnoHooks.onNewJoker(joker, edition, silent, eternal)
					return true
				end
            }))
	end
'''
times = 1
match_indent = false

[[patches]]
[patches.pattern]
target = "functions/state_events.lua"
pattern = "function new_round()"
position = "after"
payload = '''
	if CirnoMod.CirnoHooks then
		G.E_MANAGER:add_event(Event({
                trigger = 'after',
				delay = 0.3,
                blocking = false,
                func = function()
					CirnoMod.CirnoHooks.onBlindStart()
					return true
				end
            }))
		
	end
'''
times = 1
match_indent = false

[[patches]]
[patches.pattern]
target = "functions/state_events.lua"
pattern = "function end_round()"
position = "after"
payload = '''
	if CirnoMod.CirnoHooks then
		G.E_MANAGER:add_event(Event({
                trigger = 'after',
				delay = 0.1,
                blocking = false,
                func = function()
					CirnoMod.CirnoHooks.onBlindDefeat()
					return true
				end
            }))
	end
'''
times = 1
match_indent = false